<div class="d-flex justify-content-center">
  <span class="display-1 m-2">&#9733;Howdy&#9733;</span>
  <p class="bg-warning p-2">This here's a boilerplate <span class="bg-info">(Rails 5 with Bootstrap 4)</span>. I'm just starting to learn Rails so I needed a simple template that's been smoke tested and configured with the styling options I like. Enjoy the day.</p>
</div>
